[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/home/roboshop/payment

Environment=CART_HOST={{CART_HOST}}
Environment=USER_HOST={{USER_HOST}}
Environment=AMQP_HOST={{AMQP_HOST}}
Environment=AMQP_USER={{AMQP_USER}}
Environment=AMQP_PASS={{AMQP_PASS}}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
